
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 33% 94%;
    --foreground: 208 50% 10%;
    --card: 0 0% 100%;
    --card-foreground: 208 50% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 208 50% 10%;
    --primary: 208 97% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 38 98% 61%;
    --secondary-foreground: 208 50% 10%;
    --muted: 206 20% 90%;
    --muted-foreground: 208 20% 40%;
    --accent: 236 80% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 208 30% 85%;
    --input: 208 30% 85%;
    --ring: 208 97% 30%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 208 50% 5%;
    --foreground: 206 33% 94%;
    --card: 208 50% 8%;
    --card-foreground: 206 33% 94%;
    --popover: 208 50% 8%;
    --popover-foreground: 206 33% 94%;
    --primary: 206 97% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 38 98% 61%;
    --secondary-foreground: 208 50% 10%;
    --muted: 208 30% 15%;
    --muted-foreground: 208 20% 70%;
    --accent: 236 80% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 208 30% 20%;
    --input: 208 30% 20%;
    --ring: 206 97% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}

.hero-pattern {
  background-color: hsl(var(--primary));
  background-image: repeating-linear-gradient(45deg, rgba(255,255,255, 0.05) 0px, rgba(255,255,255, 0.05) 2px, transparent 2px, transparent 12px), linear-gradient(to bottom right, hsl(var(--primary)), hsl(208, 97%, 20%));
}
